
main{
    width: 70%;
    padding: 1em;
    border: solid 1px black;
    border-radius: 5px;
    margin: 2em auto 0;
}
.titulo{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

b{
    font-weight: bold;
}
.tabela-carrinho {
    border: 1px solid #C0C0C0;
    width: 100%;
}

.tabela-carrinho th {
    border: 1px solid #C0C0C0;
    padding: 0.1em ;
    vertical-align: middle;
    text-align: center;
    background: #a5a5a5;
}
.tabela-carrinho td{
    border: 1px solid #C0C0C0;
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
}

.th-codigo, .th-quant, .th-tipo, .th-valor{
    width: 9%;
}

.carrinho-total{
    margin-top: 0.5em;
}
.carrinho-total th{
    background: none;
    padding: 0.5em;
    font-weight: bold;
}

.th-valor-somado {
    width: 9%;
}