:root {
    --cor1: #2F4858;
    --cor2: #F9B233;
    --cor3: #36A9E1;
    --cor4: #E26D5C;
    --cor5: #723D46;
    --cor6: #f1f1f1;
}

body {
    background: var(--cor1);
}

header {
    text-align: center;
}

.img-logo {
    height: 100px;
    padding: 30px;
}

main {
    background: var(--cor6);
    width: 900px;
    min-height: 700px;
    margin: 0 auto 100px;
    border-radius: 10px 10px 0 0;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1em;
    overflow: hidden;
    background: var(--cor3);
    border-radius: 10px 10px 0 0;
}

.nav li {
    float: left;
}

.nav-vendas,
.nav-estoque,
.nav-cadastro {
    display: block;
    background-color: var(--cor2);
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
}

.nav a:hover {
    background-color: var(--cor6);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: black;
}

.painel-vendas,
.painel-estoque,
.painel-cadastro {
    display: none;
    padding: 2.3em;
}



.nav-ativo {
    background-color: var(--cor6);
    color: black;
}

/* paineis */
.sessao {
    padding: 1em;
    border: solid 1px black;
    border-radius: 5px;
}
.sessao:not(:first-child){
    margin-top: 0.8em;
}

.dados-cliente label {
    display: block;
    margin-bottom: 0.5em;
}

.input-padrao {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 400px;
}

/* adicionar itens */
.adicionar-item {
    text-align: center;
}

.adicionar-item label {
    margin: 0 0.3em 0 0.7em;
}


    /* pesquisa e categoria*/
.pesquisa, .categoria{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
}
#input-codigo {
    padding: 0.5em;
    width: 50px;
    text-align: center;
}

#input-nome {
    padding: 0.5em;
    width: 80px;
}

#check-categoria{
    margin-right: -4px;
}



    /* preview */
.preview {
    margin: 1.5em 0 1.5em 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.preview-arrow-left,
.preview-arrow-right {
    width: 20px;
    height: 20px;
    padding: 1.5em;
    transition: all 0.1s ease-in-out;
}

#input-codigo:focus,
#input-nome:focus,
#select-categoria:focus,
#input-quant:focus,
#select-tipo:focus,
#select-categoria-cadastro:focus {
    outline-color: var(--cor2);
}

#select-categoria, #select-categoria-cadastro{
    padding: 0.5em;
    width: 180px;
}


.preview-arrow-left:hover,
.preview-arrow-right:hover {
    filter: drop-shadow(1px 1px 8px var(--cor1));
    cursor: pointer;

}

.preview-arrow-left {
    transform: scaleX(-1)
}

.preview-item {
    display: flex;
    width: 400px;
    height: 120px;
    align-items: center;

}

.img-preview {
    width: 80px;
    height: 100px;
    background: var(--cor2);
    display: inline-block;
}

.img-preview img {
    width: 80px;
    height: 100px;
}

.info-preview {
    text-align: left;
    margin-left: 0.5em;
}

.info-preview strong{
    font-weight: bold;
}
.info-preview em{
    font-style: italic;
}

#input-quant {
    padding: 0.5em;
    width: 50px;
    text-align: center;
}
#select-tipo {
    padding: 0.5em;
    width: 120px;
}
.btn{
    padding: 0.5em;
    margin: 0 0.3em 0 0.7em;
}
/* Carrinho Tabela */

.demo {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
}

.demo td,
.demo th {
    border: 1px solid #C0C0C0;
    padding: 0.1em 1em;
    vertical-align: middle;
}

.th-codigo, .th-peso-saco, .th-estoque-saco, .th-valor-saco, .th-valor-kg, .th-estoque, .th-valor  {
    width: 9%;
}
/* estoque */
.tabela-estoque {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
}

.tabela-estoque td,
.tabela-estoque th {
    border: 1px solid #C0C0C0;
    padding: 0.1em 1em;
    vertical-align: middle;
}

/* Cadastro */
.categoria-racao, .categoria-brinquedo, .categoria-acessorio{
    display: none;
}


.cadastro label{
    display: block;
    margin-bottom: 0.5em;
}
.cadastro-racao{
    margin-top: 2em;
    display: flex;
    justify-content: space-around
}
.selecao-categoria{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cadastro-input{
    margin-bottom: 1em;
    padding: 0.5em;
    width: 300px;
    display: block;
}
.btn-cadastro{
    display: block;
    margin: 0 auto;
}

.cadastro-brinquedo{
    margin-top: 2em;
    display: flex;
    justify-content: space-around
}
.selecao-brinquedo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cadastro-acessorio{
    margin-top: 2em;
    display: flex;
    justify-content: space-around
}
.selecao-acessorio{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.visible {
    display: block;
}