:root {
    --cor1: #2F4858;
    --cor2: #F9B233;
    --cor3: #36A9E1;
    --cor4: #E26D5C;
    --cor5: #723D46;
    --cor6: #f1f1f1;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background: var(--cor1);
    font-family: 'Noto Sans', sans-serif;
}

header {
    text-align: center;
}

.img-logo {
    height: 100px;
    padding: 30px;
}

main {
    background: var(--cor6);
    width: 900px;
    min-height: 700px;
    margin: 0 auto 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px black;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1em;
    overflow: hidden;
    background: var(--cor3);
    border-radius: 10px 10px 0 0;
}

.nav-aba {
    float: left;
    display: block;
    background-color: var(--cor2);
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    text-shadow: 1px 1px 2px black;
    border-bottom: 1px solid #d89116;
}

.nav a:hover {
    background-color: var(--cor6);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: black;
    text-shadow: none;
    border-bottom: 1px solid var(--cor6);

}

.nav-ativo {
    background-color: var(--cor6);
    color: black;
    text-shadow: none;
    border-bottom: 1px solid var(--cor6);
}

.painel-vendas,
.painel-estoque,
.painel-cadastro,
.painel-cadastro-cliente {
    display: none;
    padding: 2.3em;
}


/* paineis */
.sessao {
    padding: 1em;
    border: solid 1px black;
    border-radius: 5px;
}
.sessao:not(:first-child){
    margin-top: 0.8em;
}
.input-padrao {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 300px;
}
.titulo{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

/* Vendas */
/* Cliente */
.cliente-campo{
    display: flex;
    justify-content: space-around

}
.dados-cliente label {
    display: block;
    margin-bottom: 0.5em;
}
#select-cliente{
    padding: 0.5em;
    width: 250px;
}

/* Vendas */
/* Adicionar itens */

.adicionar-item label {
    margin: 0 0.3em 0 0.7em;
}


/* pesquisa e categoria*/
.pesquisa, .categoria, .adicionar-carrinho{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
}

#input-codigo {
    padding: 0.5em;
    width: 50px;
    text-align: center;
}

#input-nome {
    padding: 0.5em;
    width: 80px;
}

#check-categoria{
    margin-right: -4px;
}

.input-padrao:focus,
.cadastro-input:focus,
#input-codigo:focus,
#input-nome:focus,
#select-categoria:focus
#select-cliente:focus,
#input-quant:focus,
#select-tipo:focus,
#select-categoria-cadastro:focus {
    outline-color: var(--cor2);
}

/* preview */
.preview {
    margin: 1.5em 0 1.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-arrow-left,
.preview-arrow-right {
    width: 20px;
    height: 20px;
    padding: 1.5em;
    transition: all 0.1s ease-in-out;
}

#select-categoria, #select-categoria-cadastro{
    padding: 0.5em;
    width: 180px;
}

.preview-arrow-left:hover,
.preview-arrow-right:hover {
    filter: drop-shadow(1px 1px 8px var(--cor1));
    cursor: pointer;
}

.preview-arrow-left {
    transform: scaleX(-1)
}

.preview-item {
    display: flex;
    width: 400px;
    height: 120px;
    align-items: center;

}

.preview-img {
    width: 80px;
    height: 100px;
    background: var(--cor2);
    display: inline-block;
}

.preview-img img {
    width: 80px;
    height: 100px;
}

.preview-info {
    text-align: left;
    margin-left: 0.5em;
}

.preview-info strong{
    font-weight: bold;
}
.preview-info em{
    font-style: italic;
}

#input-quant {
    padding: 0.5em;
    width: 50px;
    text-align: center;
}

#select-tipo {
    padding: 0.5em;
    width: 120px;
}

.btn{
    padding: 0.5em;
    margin: 0 0.3em 0 0.7em;
    border-radius: 3px;
    border-width: 1px;
    font-weight: bold;
    background: #cccccc;
}
.btn:hover{
    cursor: pointer;
    background: var(--cor2);
    transition: all 0.1s ease-out;
}

/* Carrinho Tabela */

.tabela-carrinho {
    border: 1px solid #C0C0C0;
    width: 100%;
}

.tabela-carrinho th {
    border: 1px solid #C0C0C0;
    padding: 0.1em ;
    vertical-align: middle;
    text-align: center;
    background: #a5a5a5;
}
.tabela-carrinho td{
    border: 1px solid #C0C0C0;
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
}

.th-codigo, .th-quant, .th-tipo, .th-valor{
    width: 9%;
}
.btn-fechar-carrinho{
    display: block;
    margin: 2em auto 0;
    padding: 1em 2em;
    font-size: 1em;

}
.carrinho-total{
    margin-top: 0.5em;
}
.carrinho-total th{
    background: none;
    padding: 0.5em;
    font-weight: bold;
}

.th-valor-somado {
    width: 9%;
}

/* estoque */
.th-codigo, .th-estoque-saco, .th-valor-saco, .th-valor-kg, .th-estoque, .th-valor {
    width: 9%;
}


.tabela-estoque {
    border: 1px solid #C0C0C0;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
}

.tabela-estoque th {
    border: 1px solid #C0C0C0;
    padding: 0.1em 1em;
    vertical-align: middle;
    background: #a5a5a5;
}
.tabela-estoque td {
    border: 1px solid #C0C0C0;
    padding: 0.1em 1em;
    vertical-align: middle;
}
.tabela-estoque tr{
    height: 2em;
}
.tabela-estoque tr:nth-child(even){
    background-color: #e3f2fc;
}

/* Cadastro */
.categoria-racao, .categoria-brinquedo, .categoria-acessorio{
    display: none;
}

.selecao-categoria{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cadastro label{
    display: block;
    margin-bottom: 0.5em;
}

.cadastro-input{
    margin-bottom: 1em;
    padding: 0.5em;
    width: 300px;
    display: block;
}

/* cadastro racao */
.cadastro-racao{
    margin-top: 1em;
    display: flex;
    justify-content: space-around
}

.cadastro-brinquedo{
    margin-top: 1em;
    display: flex;
    justify-content: space-around
}

.cadastro-acessorio{
    margin-top: 1em;
    display: flex;
    justify-content: space-around
}


.btn-cadastro{
    display: block;
    margin: 0 auto;
}



.visible {
    display: block;
}

/* .display-info{
    border: solid 1px red;
    position: relative;
} */
/* .info-nome{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    font-style: italic;
    color: red;
    text-shadow: 0 0 6px #000;
} */
/* .display-class-id-menu{
    position: absolute;
    top: 30px;
    right: 30px;
    background: red;
    padding: 30px;
} */
@media screen and (max-width: 481px) {
	main{
        width: auto;
    }
    .cliente-campo{
        flex-direction: column-reverse;
    }
    .cliente-campo-select{
        margin-bottom: 1em;
    }

    .pesquisa{
        flex-direction: column;
    }
    .preview-item{
        flex-direction: column;
        justify-content: center;
    }
    .preview{
        height: 200px;
        margin-top: 4em;
        margin-bottom: 4em;
    }
    .adicionar-carrinho{
        flex-direction: column;
    }
    .cadastro-acessorio, .cadastro-brinquedo, .cadastro-racao{
        flex-direction: column;
    }
    .estoque-racao, .estoque-brinquedos, .estoque-acessorios{
        overflow-x:auto;
    }
    .nav{
        display: flex;
        padding: 0
    }
    .nav li a{
        height: 32px;
    }
}